*{
    background-color: rgb(11, 202, 205);
    margin: 0;
    padding: 0;
}
body{
    color: aliceblue;
}
header{
    display: flex;
}
.header1{
    flex:3;
    text-align: left;
    display: flex;
}
    .logo{
        flex: 1;
    }
.search-container{
  flex: 4;
  padding-top: 20px;
}

.header2{
    flex:5;
    text-align: center;
    padding: 10px;
}
.header3{
    flex:2;
    text-align: right;
    padding: 10px;
}
main{
    display: flex;
    color: black;
}
.s1{
    flex: 1;
    position: sticky;
}
details{
    border-bottom: solid black;
    border-radius: 5px;
    padding: 5px;
}
details:hover{
    background-color: black;
}
summary{
    text-decoration: dashed underline;
}
summary:hover{
    color: red;
}
.s2{
    flex: 3;
    border: 5px solid black;
}
#img1{
    height: 400px;
    width: 500px;
    place-items: center;
    display: block;
    margin: 0 auto;

}
.s3{
    flex: 1;
    border: 5px solid white;
    background: radial-gradient(circle, rgb(0, 42, 255)0%, rgb(255, 0, 51) 100%);
    padding: 20px;
}